MONGODB_URI="URI of your MongoDB instance"
WEBHOOK_URL="https://discord.com/api/webhooks/{webhook-id}/{webhook-token}"
DAILY_WEBHOOK_URL="https://discord.com/api/webhooks/{daily-webhook-id}/{daily-webhook-token}"
TEST_WEBHOOK_URL="https://discord.com/api/webhooks/{test-webhook-id}/{test-webhook-token}"
# This is where comics with `thread_id`s get posted
SD_WEBHOOK_URL="https://discord.com/api/webhooks/{thread-webhook-id}/{thread-webhook-token}"
# This ensures hashing is deterministic. Parsed as base 16
HASH_SEED="0xBEFFE"
# This is currently unused
HEROKU_API_KEY="string-of-characters"
