# aiohttp
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
charset-normalizer==3.2.0
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
yarl==1.9.2

# feedparser
feedparser==6.0.10
sgmllib3k==1.0.0

# mmh3
mmh3==4.0.1

# requests
requests==2.31.0
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
urllib3==2.0.5

# requests types
types-requests==2.31.0.6
types-urllib3==1.26.25.14

# python-dotenv
python-dotenv==1.0.0

# pymongo
pymongo==4.5.0
dnspython==2.4.2

# multidict
multidict==6.0.4
